#avatarBeforeChange{
    padding:50% 0 0;
    position:relative;
    width:50%;
    height:50%;
    left:25%;
}
#avatarBeforeChangeArea{
    width:100%;
    background-size:cover;
    background-position:center;
    position: absolute;
    top: 0;
    left: 0;
}
#avatarAfterChangeArea{
    height:100%;
    width:100%;
    background-size:cover;
    background-position:center;
    position: absolute;
    top: 0;
    left: 0;
}
#avatarAfterChange{
    padding:50% 0 0;
    position:relative;
    width:50%;
    height:50%;
    left:25%;
}
#menuavatarBeforeChange{
    padding:50% 0 0 ;
    width:50%;
    height:100%;
    position: relative;
    left:25%;
}
#menuavatarBeforeChangeArea{
    height:100%;
    width:100%;
    background-size:cover;
    background-position:center;
    position: absolute;
    top: 0;
    left: 0;
}
.titleImageDiv{
    padding:25% 0 0;
    position:relative;
    width:25%;
    height:25%;
    float:left;
}
.titleImage{
    position: absolute;
    max-height:100%;
    max-width:100%;
    top: 0;
    left: 0;
}
.titleContents{
    width:70%;
    margin-left:30%;
}
.titleString{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.imgPhotos{
    margin:10px;
    max-height:15vh;
    float:left;
}
.btn-ghost{
     background: transparent;
}
a:hover{
    text-decoration:none;
}
.titleContents {
    color:black;
}
.titleContents {
    color:black;
}
#modal-carousel-content{
    height:100vh;
}
#modal-carousel-body{
    height:calc(100vh - 50px);
}
.carousel-inner div{
    height:calc(100vh - 50px);
    padding:auto;
}
.carousel-inner div img{
    max-height:100%;
    max-width:100%;
}
.ItemImageShow {
    position:relative;
    width:100%;
    height:67%;
    padding:67% 0 0;
    max-height:100%;
    max-width:100%;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    -moz-background-size:contain;
    -webkit-background-size:contain;
    -o-background-size:contain;
    -ms-background-size:contain;
}
.modal-header{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.titleName{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-decoration:none;

}
.black{
    color:black;
}
.itemAvatar {
    position:relative;
    width:25%;
    height:25%;
    padding:25% 0 0;
    max-height:100%;
    max-width:100%;
    float:right;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.sceneList li{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.CommentUserAvatar {
    position:relative;
    float:left;
    width:20%;
    height:20%;
    padding:20% 0 0;
    max-height:100%;
    max-width:100%;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.commentContent{
    word-wrap: break-word;
}
.clearfix:before {
    display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}
